/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import '../../../node_modules/ngx-spinner/animations/ball-scale-multiple.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

